@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
:root {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  text-align: center;
}

p {
  line-height: 1.6rem;
}

.img {
  width: 100%;
}

body {
  background: url(../../images/bg-header-mobile.png) no-repeat top center/cover;
}

.hero {
  max-width: 375px;
  padding: 0 0.8rem;
  margin: 0 auto 10rem;
}
.hero .logo {
  margin-top: 7rem;
}
.hero .h1 {
  font-size: 1.8rem;
  margin-top: 2.5rem;
}
.hero .discription {
  margin: 1.3rem auto 2rem;
  color: hsl(201deg, 11%, 66%);
}
.hero .downloadBtn {
  padding: 0.8rem 3rem;
  width: 100%;
  max-width: 375px;
  display: inline-block;
  border-radius: 40px;
  margin: 0.6rem auto;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}
.hero .iosBtn {
  border-bottom: 4px solid hsl(171deg, 68%, 34%);
  background-color: hsl(171deg, 66%, 44%);
}
.hero .macBtn {
  border-bottom: 4px solid hsl(233deg, 59%, 55%);
  background-color: hsl(233deg, 100%, 69%);
}

@media (min-width: 800px) {
  body {
    background: url(../../images/bg-header-desktop.png) no-repeat top center;
  }

  .hero {
    max-width: 690px;
  }
  .hero .h1 {
    letter-spacing: 3px;
  }
  .hero .downloadBtn {
    flex-basis: 32%;
    margin: 0;
    font-size: 1rem;
    padding: 0.8rem 1rem;
  }
  .hero .btn-container {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}
.keepTrack {
  max-width: 375px;
  padding: 0 0.8rem;
  margin: 0 auto 10rem;
}
.keepTrack .h2 {
  font-size: 1.7rem;
}
.keepTrack .discription {
  margin: 1.5rem auto 5rem;
  color: hsl(201deg, 11%, 66%);
}
.keepTrack .col {
  margin-top: 3rem;
}
.keepTrack .col h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.keepTrack .col p {
  line-height: 1.5rem;
  color: hsl(201deg, 11%, 66%);
}

@media (min-width: 800px) {
  .keepTrack {
    max-width: none;
  }
  .keepTrack .discription {
    max-width: 690px;
  }
  .keepTrack .row {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .keepTrack .row .image-container {
    position: relative;
    overflow: hidden;
    max-width: 696px;
    height: 534px;
  }
  .keepTrack .row .image-container .img {
    position: absolute;
    top: 0;
    left: -15px;
  }
  .keepTrack .row .content {
    max-width: 390px;
    margin-left: 5rem;
  }
  .keepTrack .row .content .col {
    text-align: left;
    margin-top: 2.5;
  }
  .keepTrack .row .content .col h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
}
.accessClipboard {
  max-width: 375px;
  padding: 0 0.8rem;
  margin: 0 auto 6rem;
}
.accessClipboard .h2 {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}
.accessClipboard .discription {
  margin-bottom: 4.5rem;
  color: hsl(201deg, 11%, 66%);
}

@media (min-width: 800px) {
  .accessClipboard {
    max-width: 750px;
  }
}
.superCharge {
  max-width: 375px;
  padding: 0 0.8rem;
  margin: auto;
}
.superCharge .h2 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
.superCharge .discription {
  padding-bottom: 1.5rem;
  color: hsl(201deg, 11%, 66%);
}
.superCharge .row .col {
  margin-top: 4rem;
}
.superCharge .row .col img {
  margin-bottom: 2.5rem;
}
.superCharge .row .col .h3 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
.superCharge .logos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin: 7rem auto 10rem;
}

@media (min-width: 800px) {
  .superCharge {
    max-width: 1200px;
  }
  .superCharge .row {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .superCharge .row .col {
    padding: 0 10px;
  }
  .superCharge .logos {
    flex-direction: row;
  }
}
.clipboardFor {
  max-width: 375px;
  padding: 0 0.8rem;
  margin: 0 auto 10rem;
}
.clipboardFor .h2 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
.clipboardFor .discription {
  margin-bottom: 2.5rem;
  color: hsl(201deg, 11%, 66%);
}
.clipboardFor .downloadBtn {
  padding: 0.8rem 3rem;
  width: 100%;
  max-width: 375px;
  display: inline-block;
  border-radius: 40px;
  margin: 0.6rem auto;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}
.clipboardFor .iosBtn {
  border-bottom: 4px solid hsl(171deg, 68%, 34%);
  background-color: hsl(171deg, 66%, 44%);
}
.clipboardFor .macBtn {
  border-bottom: 4px solid hsl(233deg, 59%, 55%);
  background-color: hsl(233deg, 100%, 69%);
}

@media (min-width: 800px) {
  .clipboardFor {
    max-width: 690px;
  }
  .clipboardFor .downloadBtn {
    flex-basis: 32%;
    margin: 0;
    font-size: 1rem;
    padding: 0.8rem 1rem;
  }
  .clipboardFor .btn-container {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}
.footer {
  padding: 3rem 0.8rem;
  background-color: #f5f6f8;
}
.footer .container {
  max-width: 375px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
.footer img {
  width: 70px;
}
.footer a {
  color: rgb(75, 75, 75);
  text-decoration: none;
  display: block;
  margin-bottom: 2.3rem;
}
.footer a:hover {
  color: hsl(171deg, 66%, 44%);
}
.footer .logos {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.footer .logos .fa-brands {
  color: #4C545C;
}
.footer .logos .fa-brands:hover {
  cursor: pointer;
  color: hsl(171deg, 66%, 44%);
}

@media (min-width: 800px) {
  .footer .container {
    max-width: 1000px;
    margin: auto;
    flex-direction: row;
  }
  .footer .container .logo-links-con {
    display: flex;
    align-items: flex-start;
  }
  .footer .container .logo-links-con img {
    margin-right: 5rem;
  }
  .footer .container .logo-links-con .links {
    display: flex;
    gap: 40px;
    flex-basis: 100%;
    text-align: left;
  }
  .footer .logos {
    flex-basis: 200px;
  }
  .footer a {
    margin-bottom: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
