@use "../com/variables" as var;

.accessClipboard {
    max-width: 375px;
    padding: 0 0.8rem;
    margin: 0 auto 6rem;
    .h2 {
        font-size: var.$font-size-h2;
        margin-bottom: 1.5rem;
        color: var.$color-Dark-Grayish-Blue;
    }

    .discription {
        margin-bottom: 4.5rem;
        color: var.$color-Grayish-Blue;
    }
}

@media (min-width: var.$bp-desktop) {
    .accessClipboard {
        max-width: 750px;
    }
}