@use "../com/variables" as var;

.accessClipboard {
    max-width: 375px;
    padding: 0 0.8rem;
    margin: 0 auto 6rem;
    .h2 {
        font-size: var.$font-size-h2;
        margin-bottom: 1.5rem;
    }

    .discription {
        margin-bottom: 4.5rem;
    }
}
