@use "../com/variables" as var;

.clipboardFor {
    max-width: 375px;
    padding: 0 0.8rem;
    margin: 0 auto 10rem;

    .h2 {
        font-size: var.$font-size-h2;
        margin-bottom: 1rem;
    }

    .discription {
        margin-bottom: 2.5rem;
        color: var.$color-Grayish-Blue;
    }

    .downloadBtn {
        padding: .8rem 3rem;
        width: 100%;
        max-width: 375px;
        display: inline-block;
        border-radius: 40px;
        margin: .6rem auto;
        border: none;
        color: #fff;
        font-size: 1.2rem;
        cursor: pointer;
    }

    .iosBtn {
        border-bottom: 4px solid hsl(171, 68%, 34%);
        background-color: var.$color-Strong-Cyan;
    }

    .macBtn {
        border-bottom: 4px solid hsl(233, 59%, 55%);
        background-color: var.$color-Light-Blue;
    }
}

@media (min-width: var.$bp-desktop) {
    .clipboardFor {
        max-width: 690px;

        .downloadBtn {
            flex-basis: 32%;
            margin: 0;
            font-size: 1rem;
            padding: .8rem 1rem;
        }

        .btn-container {
            display: flex;
            gap: 20px;
            justify-content: center;
        }
    }
}