@use "../com/global" as var;
@use "../com/mixin" as *;
@use "../com/common";
@use "../com/variables" as *;

body {
    background: url(../../images/bg-header-mobile.png) no-repeat top center/cover;
}

.hero {
    max-width: 375px;
    padding: 0 0.8rem;
    // background: url(../../images/bg-header-mobile.png) no-repeat top center/cover;
    margin: 0 auto 10rem;

    .logo {
        margin-top: 7rem;
    }

    .h1 {
        font-size: 1.8rem;
        margin-top: 2.5rem;
    }

    .discription {
        margin: 1.3rem auto 2rem;
        color: $color-Grayish-Blue;
        // width: 94%;
    }

    .downloadBtn {
        padding: .8rem 3rem;
        width: 100%;
        max-width: 375px;
        display: inline-block;
        border-radius: 40px;
        margin: .6rem auto;
        border: none;
        color: #fff;
        font-size: 1.2rem;
        cursor: pointer;
    }

    .iosBtn {
        border-bottom: 4px solid hsl(171, 68%, 34%);
        background-color: $color-Strong-Cyan;
    }

    .macBtn {
        border-bottom: 4px solid hsl(233, 59%, 55%);
        background-color: $color-Light-Blue;
    }
}

@media (min-width: $bp-desktop) {
    .hero {
        max-width: 690px;

        .h1 {
            letter-spacing: 3px;
        }

        .downloadBtn {
            flex-basis: 32%;
            margin: 0;
            font-size: 1rem;
            padding: .8rem 1rem;
        }

        .btn-container {
            display: flex;
            gap: 20px;
            justify-content: center;
        }
    }
}