.keepTrack {
    max-width: 375px;
    padding: 0 0.8rem;
    margin: 0 auto 10rem;

    .h2 {
        font-size: 1.7rem;
    }

    .discription {
        margin: 1.5rem auto 5rem;
    }

    .col {
        margin-top: 3rem;
        h3 {
            font-size: 1.6rem;
            margin-bottom: 1rem;
        }

        p {
            line-height: 1.5rem;
        }
    }

}