@use "../com/variables" as var;

.superCharge {
    max-width: 375px;
    padding: 0 0.8rem;
    margin: auto;
    .h2 {
        font-size: var.$font-size-h2;
        margin-bottom: 1rem;
        color: var.$color-Dark-Grayish-Blue;
    }

    .discription {
        padding-bottom: 1.5rem;
        color: var.$color-Grayish-Blue;
    }

    .row {
        .col {
            margin-top: 4rem;

            img {
                margin-bottom: 2.5rem;
            }

            .h3 {
                margin-bottom: 1.5rem;
                font-size: var.$font-size-h3;
                color: var.$color-Dark-Grayish-Blue;
            }
        }
    }

    .logos {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 4rem;
        margin: 7rem auto 10rem;
    }
}

@media (min-width: var.$bp-desktop) {
    .superCharge {
        max-width: 1200px;

        .row {
            display: grid;
            gap: 10px;
            grid-template-columns: 1fr 1fr 1fr;

            .col {
                padding: 0 10px;
            }
        }

        .logos {
            flex-direction: row;
        }
    }
}